@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter);
  @apply text-sm text-black/70 dark:text-white/70;
}

.c-cta {
  @apply h-11 bg-black dark:bg-white dark:text-black font-medium rounded-full gap-2 p-2 px-8 whitespace-nowrap text-white flex justify-center items-center min-w-[100px] shadow-csm hover:shadow-cmd transition-all;
}

.c-btn {
  @apply h-9 bg-black dark:bg-white font-medium rounded-full gap-2 p-2 px-6 whitespace-nowrap text-white dark:text-black flex justify-center items-center text-sm min-w-[100px] shadow-csm hover:shadow-cmd transition-all;
}

.c-btn-outline {
  @apply h-9 bg-transparent border border-white/10 hover:bg-white font-medium rounded-full gap-2 p-2 px-6 whitespace-nowrap text-white hover:text-black flex justify-center items-center text-sm min-w-[100px] shadow-csm hover:shadow-cmd transition-all;
}

.c-container {
  @apply max-w-[1200px] mx-auto px-5 md:px-6 lg:px-8;
}

.c-container-md {
  @apply max-w-[1000px] mx-auto px-5 md:px-6 lg:px-8;
}

.c-container-sm {
  @apply max-w-[800px] mx-auto px-5 md:px-6 lg:px-8;
}

.c-border {
  @apply border border-white/15;
}

.gallery {
  height: 80vh;
  overflow: hidden;
  background: #eaeaea;
}

.gallery .galleryWrapper {
  position: relative;
  top: -10vh;
  height: 100vh;
}

.circle {
  border-radius: 0 0 50% 50%;
  box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.748);
}

.c-input {
  @apply bg-transparent hover:outline-none focus:outline-none active:outline-none border-white/30 focus:border-primary transition-all border-2 px-3 py-3 text-white w-full block;
}
